/**********************************
NAVIGATION BAR
**********************************/
body {
    overflow-x: hidden;
    background-color: #FFF;
    font-family: 'Lora', serif;
    list-style: none;
}
.top-bar {
    position: fixed;
    width: 100%;
    z-index: 10;
}
.megadiv {
    min-height: 100vh;
}
h1 {
    font-family: 'Bree Serif', serif;
}

.text{
    text-align: justify;
    font-size: 1.5em;
    background-color: #FFF;
    margin: 15px 10%;
    color:#777;
    padding: 15px 15px;
}

#titulo {
    text-align: center;
    padding-top: 30px;
    margin-top: 0;
    font-size: 6em;
    color: #8bbfd3;
}
#introductionText {
    padding: 10% 5px;
    text-align: center;
}
.subText{
    background-color:#008CBA;
    color: #FFF;
    width: 100vw;
    text-align: center;
    font-size: 2.5em;
}

.sectionText{
    text-align: center;
    font-size: 2.5em;
    margin-top: 10%;
    color:#7d8c9d;
    font-weight: 500;
}
.intro {
    background-color: #FFF;
}

.semana {
    text-align: center;
    background-color:#FFF;
    color: #000;
}

.compli {
    background-color: #FFF;
    color: #000;
}
.faq {
    width: 100%;
    height: 50vh;
    background-color: #FFF;
}
.ref {
    word-break: break-all;
}
.clean {
    border:none;
    color: #444;
    font-size: 1.5em;
}
